@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu';
    background-color: #E2F4C5;
}

nav {
    box-shadow: 0rem .2rem 1rem #00000075;
    z-index: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #203b20;
    align-items: center;
    padding: .5rem 0rem;
    position: sticky;
    top: 0;
}

nav h2 {
    font-size: 4rem;
    color: white;
    margin: 0rem auto;
    text-align: center;
}

nav i {
    display: inline-block;
    font-size: 4rem;
    align-content: center;
    margin: 0rem 3rem;
    color: white;
    position: absolute;
}

#chat-section {
    flex-grow: 1;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 55vw;
    margin: 2rem auto;
    height: 86vh;
}

.chats {
    overflow-x: hidden;
    border: .2rem solid black;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #A5DD9B;
    height: 100%;
    width: 100%;
    margin: 0rem auto;
    margin-bottom: .5rem;
    padding: 1rem 0rem;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}
.message-wrapper {
    display: flex;
    flex-direction: column;
    margin: .3rem 0rem;
}

.message {
    border-radius: 2.3rem;
    font-size: 2rem;
    max-width: 45rem;
    display: inline-block;
    padding: .8rem 1.5rem;
    margin: .2rem 1rem;
    opacity: 0;
}